body {
  font-family: Arial, Helvetica, sans-serif !important;
}

.navbar-light .navbar-brand {
  color: #ef383e;
  font-weight: bolder;
  font-size: x-large;
}

.navbar-light .navbar-brand .fa {
  color: #0585bb;
}

#main-header h4 {
  margin-top: 8px;
}
